#canvas{
	/* background-color: pink; */
	display: block;
	border: 2px solid black;
}
a{
	display: block;
	font-size: 30px;
	margin: 10px;
	border: 1px solid black;
	width:150px;
	text-align: center;
	padding: 5px;
	text-decoration: none;
	color: red;
}
a:hover{  /* 当鼠标放在a标签上时 */
	background-color: yellow;
	color: #000000;
}
section{
	font-size: 22px;
	margin: 5px;
}